.app-header {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: var(--header-height);
  min-height: var(--header-height);
  position: sticky;
  background-color: #ffffff;
  color: #000000;
  padding: 0 20px;

  &__logo {
    width: 100%;
    height: 48px;
    background-image: url('@assets/images/logo-animated.svg');
    background-repeat: no-repeat;
  }
}
